body{
  color: #40514e;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}
.top-container{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px ;
}
p{
  line-height: 2;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
font-family: 'Montserrat', sans-serif;
font-size:2.5rem;
font-weight: normal;
line-height: 2;
color: #66BFBF;
padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: lightgray;
  width: 5%;
  margin: 100px auto 100px auto;
}
a{
  color: #11999E;
}
.bottom-cloud{
position: absolute;
left: 300px;
bottom: 300px;
}
.top-cloud{
position: absolute;
right: 300px;
top: 50px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.middle-container{
  margin: 100px 0;
}
.html{
  margin-right: 3%;
  float: left;
}
.intro{
  width: 30%;
  margin: auto;
}
.class-intro{
  width: 30%;
  margin: auto;
}
.search{
  margin-left: 3%;
  float: right;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 20px;
}
.footer-copyright{
  color:#eaf6f6;
}
.footer-link{
  text-decoration: none;
  padding: 25px;
}
.btn {
   background: #66bfbf;
   background-image: -webkit-linear-gradient(top, #11999E, #66bfbf);
   background-image: -moz-linear-gradient(top, #11999E, #1E62D0);
   background-image: -ms-linear-gradient(top, #11999E, #1E62D0);
   background-image: -o-linear-gradient(top, #11999E, #1E62D0);
   background-image: -webkit-gradient(to bottom, #11999E, #1E62D0);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #EAF6F6;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: normal;
   padding: 15px;
   margin-top: 35px;

   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top,  #66bfbf,#11999e);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   text-decoration: none;
}
